:root {
  /* Font */
  --ff-base: "Public Sans", Arial, Helvetica, sans-serif;
  --fw-300: 300;
  --fw-400: 400;
  --fw-700: 700;
  --base: 0.5em;
  --fs-300: 0.875rem;
  --fs-400: 1rem;
  --fs-500: 1.125rem;
  --fs-600: 1.25rem;
  --fs-700: 1.5rem;
  --fs-800: 2rem;
  --fs-900: 2.5rem;
  /* Colors */
  --clr-primary-100: hsl(136, 65%, 51%);
  --clr-primary-200: hsl(192, 70%, 51%);
  --clr-primary-300: hsl(233, 26%, 24%);
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-200: hsl(0, 0%, 98%);
  --clr-neutral-300: hsl(220, 16%, 96%);
  --clr-neutral-400: hsl(233, 8%, 62%);
  --clr-neutral-700: hsl(0, 0%, 0%); }

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box; }

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0; }

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
  margin: 0; }

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth; }

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5; }

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto; }

a {
  display: inline-block;
  text-decoration: none;
  color: inherit; }

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block; }

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select,
optgroup {
  font: inherit; }

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto; }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important; } }

html {
  font-size: 100%; }

body {
  font-size: var(--fs-500);
  font-weight: var(--fw-300);
  font-family: var(--ff-base);
  color: var(--clr-neutral-400); }

h1,
h2,
h3,
h4 {
  font-weight: 400;
  line-height: 1.1;
  color: var(--clr-primary-300); }

h1 {
  font-size: var(--fs-900); }
