@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');

:root {
  --clr-dark: 233 26% 24%;
  --clr-accent-1: 136 65% 51%;
  --clr-accent-2: 192 70% 51%;
  --clr-slate: 233 8% 62%;
  --clr-zinc: 220 16% 96%;
  --clr-light: 0 0% 98%;
  --clr-white: 0 0% 100%;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: 'Public Sans', Arial, Helvetica, sans-serif;
  font-weight: 400s;
  font-size: 1rem;
}

/* Set minimum line-height for heading elements */
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.15;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Content thats not visible but read by screen-readers */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Utilities */
.container {
  max-width: 70em;
  width: 90%;
  margin-inline: auto;
}

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.flow > *:where(:not(:first-child)) {
  margin-top: var(--flow-space, 1rem);
}

.flow--small {
  --flow-space: 0.75rem;
}

.btn {
  cursor: pointer;
  background: none;
  border: none;
}

:focus {
  outline-offset: 3px;
}

/* Header */

.header {
  background-color: hsl(var(--clr-white));
  /* box-shadow: 0 0.15rem 0.25rem hsl(var(--clr-dark) / 0.2); */
}

.navbar {
  max-width: 75em;
  margin-inline: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 1rem;
}

.navbar-menu-toggle {
  display: none;
}

.primary-navigation {
  list-style: none;
  margin: 0;
  padding: 0;
  align-self: stretch;
  display: flex;
}

.primary-navigation a {
  display: inline-block;
  text-decoration: none;
  color: hsl(var(--clr-slate));
  font-size: 1rem;
}

.btn.btn--invite {
  color: hsl(var(--clr-white));
  font-weight: 700;
  padding: 0.75rem 1.5rem;
  border-radius: 100vh;
  background-image: linear-gradient(
    to right,
    hsl(var(--clr-accent-2)),
    hsl(var(--clr-accent-1))
  );
}

@media (min-width: 45em) {
  body {
    font-size: 1.125rem;
  }

  .primary-navigation li:not(:first-child) {
    margin-left: 2rem;
  }

  .primary-navigation li {
    padding-block: 1.5rem;
    position: relative;
  }

  .primary-navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 4px;
    opacity: 0;
    background-image: linear-gradient(
      to right,
      hsl(var(--clr-accent-2)),
      hsl(var(--clr-accent-1))
    );
    transition: all 0.3s;
  }

  .primary-navigation a:hover::after {
    opacity: 1;
  }
}

@media (max-width: 45em) {
  .btn.btn.btn--invite {
    display: none;
  }

  .navbar {
    padding-block: 1.5rem;
    position: relative;
    z-index: 999;
  }

  .navbar-menu-toggle {
    display: block;
    width: 1.5rem;
    height: 1rem;
    aspect-ratio: 1;
    background-image: url('./images/icon-hamburger.svg');
    background-position: center;
    background-size: cover;
  }

  .navbar-menu-toggle[aria-expanded='true'] {
    background-image: url('./images/icon-close.svg');
  }

  .primary-navigation {
    position: fixed;
    inset: 6rem 1rem auto;
    flex-direction: column;
    align-items: center;
    background-color: hsl(var(--clr-white));
    padding-block: 1rem;
    gap: 1rem;
    border-radius: 4px;
    transform: translateY(-200%);
    transition: all 0.25s ease-in-out;
  }

  .primary-navigation[data-visible='true'] {
    transform: translateY(0);
  }

  .backdrop {
    opacity: 0;
    transition: all 0.25s ease-in-out;
  }

  .navbar.show + .backdrop {
    z-index: -1;
    position: fixed;
    inset: 0;
    opacity: 1;
    background-image: linear-gradient(
      to bottom,
      hsl(var(--clr-dark)),
      hsl(var(--clr-dark) / 0.85),
      transparent
    );
  }
}
