@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');

:root {
  --clr-dark: 233 26% 24%;
  --clr-accent-1: 136 65% 51%;
  --clr-accent-2: 192 70% 51%;
  --clr-slate: 233 8% 62%;
  --clr-zinc: 220 16% 96%;
  --clr-light: 0 0% 98%;
  --clr-white: 0 0% 100%;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: 'Public Sans', Arial, Helvetica, sans-serif;
  font-weight: 400s;
  font-size: 1rem;
  background-color: hsl(var(--clr-light));
}

/* Set minimum line-height for heading elements */
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.15;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Content thats not visible but read by screen-readers */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Utilities */
.container {
  max-width: 75em;
  width: 90%;
  margin-inline: auto;
}

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.flow > *:where(:not(:first-child)) {
  margin-top: var(--flow-space, 1rem);
}

.flow--small {
  --flow-space: 0.75rem;
}

:focus {
  outline-offset: 3px;
  outline-width: 3px;
}

.btn {
  cursor: pointer;
  background: none;
  border: none;
}

/* Header */

.header {
  background-color: hsl(var(--clr-white));
  position: relative;
  z-index: 999;
}

.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-navigation {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.header-navigation li {
  padding-block: 1.5rem;
  position: relative;
}

.header-navigation li:not(:first-child) {
  margin-left: 2rem;
}

.header-navigation a {
  display: inline-block;
  text-decoration: none;
  color: hsl(var(--clr-slate));
}

.header-navigation a::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 4px;
  background-image: linear-gradient(
    to right,
    hsl(var(--clr-accent-2)),
    hsl(var(--clr-accent-1))
  );
  opacity: 0;
  transition: all 0.2s;
}

.header-navigation a:hover::after {
  opacity: 1;
}

.btn-invite {
  background-image: linear-gradient(
    to right,
    hsl(var(--clr-accent-2)),
    hsl(var(--clr-accent-1))
  );
  color: hsl(var(--clr-white));
  border-radius: 100vh;
  padding: 0.5em 1.5em;
  font-weight: 700;
}

.btn-invite:hover {
  opacity: 0.75;
}

.navbar-menu-toggle {
  display: none;
}

.navbar {
  display: none;
}

/* Section Hero */

.section--hero {
  display: grid;
  gap: 2rem;
}

.hero-image {
  background: url('./images/bg-intro-mobile.svg') no-repeat center;
  background-size: cover;
}

.hero-image img {
  margin-top: -8rem;
  max-width: 100%;
  margin-inline: auto;
}

.hero-info {
  padding-inline: 1rem;
  text-align: center;
  padding-bottom: 3rem;
}

.hero-info h1 {
  font-size: clamp(2.5rem, 4vw, 3rem);
  font-weight: 400;
  color: hsl(var(--clr-dark));
}

.hero-info p {
  color: hsl(var(--clr-slate));
  font-size: clamp(1.125rem, 3vw, 1.25rem);
}

@media (min-width: 45em) {
  .hero-image img {
    max-width: 80%;
  }
}

@media (min-width: 55em) {
  .section--hero {
    grid-template-columns: minmax(1rem, 1fr) repeat(2, minmax(0, 37.5rem)) minmax(
        1rem,
        1fr
      );
  }

  .hero-image {
    order: 1;
    grid-column: 3/5;
    background-image: url('./images/bg-intro-desktop.svg');
    background-position: center;
    background-size: 150%;
  }

  .hero-image img {
    max-width: 100%;
  }

  .hero-info {
    text-align: left;
    grid-column: 1/3;
    align-self: center;
    padding-block: 5rem;
    padding-left: 3rem;
  }
}

@media (min-width: 60em) {
  .hero-image {
    grid-column: 3/-1;
    background-size: 100%;
    background-position: 0 100%;
    position: relative;
  }

  .hero-image img {
    max-width: 90%;
    position: absolute;
    right: -15%;
    transform: translateY(-3rem);
  }
  .hero-info {
    grid-column: 2/3;
    padding-left: 1rem;
  }
}

@media (max-width: 880px) {
  .header {
    padding-block: 1.5rem;
  }

  .header-navigation,
  .btn-desktop {
    display: none;
  }

  .navbar {
    display: block;
  }

  .navbar-menu-toggle {
    display: block;
    width: 1.5rem;
    height: 1rem;
    aspect-ratio: 1;
    background: url('./images/icon-hamburger.svg') no-repeat center;
    position: relative;
    z-index: 99999;
  }

  .navbar-menu-toggle:focus-visible {
    outline: 2px dashed hsl(var(--clr-dark));
    outline-offset: 2px;
  }

  .navbar-menu-toggle[aria-expanded='true'] {
    background-image: url('./images/icon-close.svg');
  }

  .primary-navigation {
    list-style: none;
    margin: 0;
    padding: 1.5rem 0;
    background-color: hsl(var(--clr-white));
    box-shadow: 0 1rem 2rem hsl(var(--clr-dark) / 0.25);
    display: flex;
    flex-direction: column;
    text-align: center;
    position: fixed;
    inset: 5rem 1rem auto;
    border-radius: 4px;
    transform: translateY(-200%);
    transition: all 0.25s ease-in-out;
    z-index: 10;
  }

  .navbar[data-visible='true'] .primary-navigation {
    transform: translateY(0);
  }

  .primary-navigation li:not(:first-child) {
    margin-top: 0.5rem;
  }

  .primary-navigation a {
    display: inline-block;
    text-decoration: none;
    color: hsl(var(--clr-dark));
    padding: 0.5rem;
    width: 100%;
  }

  .primary-navigation a:hover {
    background-color: hsl(var(--clr-zinc));
  }

  .backdrop {
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease-in-out;
  }

  .navbar[data-visible='true'] .backdrop {
    position: fixed;
    inset: 0;
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    background-image: linear-gradient(
      to bottom,
      hsl(var(--clr-dark)),
      hsl(var(--clr-dark) / 0.75),
      transparent
    );
  }
}

/* Main */
main section {
  padding-block: 4rem;
}

main section h2 {
  font-weight: 400;
  font-size: 2rem;
  margin-bottom: 1rem;
  color: hsl(var(--clr-dark));
}

main section p {
  color: hsl(var(--clr-slate));
}

.features {
  background-color: hsl(var(--clr-zinc));
  text-align: center;
}

.features-grid {
  margin-top: 3rem;
  display: grid;
  gap: 2rem;
}

.features-grid img {
  margin-inline: auto;
}

.features-grid h3 {
  font-weight: 400;
  font-size: 1.5rem;
  color: hsl(var(--clr-dark));
}

.latest-articles h2 {
  text-align: center;
}

.latest-articles-grid {
  margin-top: 2rem;
  display: grid;
  gap: 2rem;
}

.article {
  border-radius: 4px;
  overflow: hidden;
  background-color: hsl(var(--clr-white));
}

.article img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.article-details {
  --flow-space: 0.75rem;
  padding: 1.5rem 1.5rem;
}

.article-details cite {
  font-style: normal;
  font-size: 0.75rem;
  color: hsl(var(--clr-slate));
}

.article-details h3 {
  font-size: 1.25rem;
  font-weight: 400;
  color: hsl(var(--clr-dark));
}

.article-details p {
  font-size: 0.875rem;
}

@media (min-width: 45em) {
  main section {
    padding-block: 6rem;
  }

  .features {
    text-align: left;
  }

  .features-grid {
    margin-top: 3rem;
  }

  .features p {
    max-width: 36rem;
  }

  .features-grid,
  .latest-articles-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .feature {
    --flow-space: 1rem;
    display: flex;
    flex-direction: column;
  }

  .feature p {
    flex: 1;
  }

  .feature img {
    margin-right: auto;
    margin-left: 0;
    margin-bottom: 1.25rem;
  }

  .latest-articles h2 {
    text-align: left;
  }

  .latest-articles-grid {
    margin-top: 3rem;
  }
}

@media (min-width: 60em) {
  .features-grid,
  .latest-articles-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
